div.pad20 {
	margin-top: 20px;
}

div.pad45 {
	margin-top: 45px;
}

img.center-pic {
	margin: 0 auto;
}


.id_macs {
	text-align: justify;
	margin-top: 50px;
	border-top: 3px solid gray;
	
}
@media screen and (max-width: 1968px) {
    #macs {
	height:100%;
	cursor: pointer;
	padding: 20px;
    margin: 0px 0px;
    border-width: 2px 2px 2px 5px;
    border-style: solid;
    border-color: #EEE;
    border-bottom-color:#1B809E;
    -moz-border-top-colors: none;
    -moz-border-right-colors: none;
    -moz-border-bottom-colors: none;
    -moz-border-left-colors: none;
    border-image: none;
    border-radius: 3px;
    text-align: left;
        
    }
}
 
@media screen and (max-width: 568px) {
    #macs {
	height:100%;
	cursor: pointer;
	padding: 20px;
    margin: 0px 0px;
    border-width: 2px 2px 2px 5px;
    border-style: solid;
    border-color: #EEE;
    border-bottom-color:#1B809E;
    -moz-border-top-colors: none;
    -moz-border-right-colors: none;
    -moz-border-bottom-colors: none;
    -moz-border-left-colors: none;
    border-image: none;
    border-radius: 3px;
    text-align: center;
        
    }
}


#macs:HOVER {
	
	cursor: pointer;
	padding: 20px;
    margin: 0px 0px;
    border-width: 1px 1px 1px 5px;
    border-style: solid;
    border-color:#1B809E;
    -moz-border-top-colors: none;
    -moz-border-right-colors: none;
    -moz-border-bottom-colors: none;
    -moz-border-left-colors: none;
    border-image: none;
    border-radius: 3px;
    text-align: center;
	
}
@media screen and (max-width: 1968px) {
    #selectQuote {
        font-size:26px;
        text-align: center;
        
    }
}
 
@media screen and (max-width: 568px) {
    #selectQuote {
        font-size:1.1em;
        text-align: center;
        
    }
}


#select{
	width:100%;
	text-align: center;
	margin-bottom: 20px;
	margin-left: 10px;
	
}
#select1{
	text-align: center;
	margin-bottom: 20px;
	margin-left: 2px;
	
}
.helpImg{
	padding: 20px;
	
}
#help{
	height: 330px;
	overflow: scroll;
	padding: 20px;
    margin: 0px 0px;
    border-bottom:1px solid #1B809E;
    border-top:1px solid #1B809E;
    border-right:5px solid #1B809E;
    border-left:5px solid #1B809E;
    -moz-border-top-colors: none;
    -moz-border-right-colors: none;
    -moz-border-bottom-colors: none;
    -moz-border-left-colors: none;
    border-image: none;
    border-radius: 3px;
    color: black;
	
}
#helpBorder{
	border-bottom: 1px dashed blue;
}
#help_title{
	text-align: center;
	border: 1px solid blue;
	color: black;
	margin: 5px;
	padding: 5px;
}

textHelp{
	text-align: left;
	background-color:windowtext;
	color: blue;
	padding: 20px;
}
@media screen and (max-width: 1968px) {
    #infoMacModel {
        font-size: 30px;
        text-align: left;
        margin-top: 20px;        
    }
}
 
@media screen and (max-width: 768px) {
    #infoMacModel {
        font-size:20px;
        text-align: left;
        margin-top: 30px;
        
    }
}

@media screen and (max-width: 1968px) {
    .printMacModel {
        font-size: 30px;
        text-align: left;
        margin-top: 30px;
    }
}
 
@media screen and (max-width: 568px) {
    .printMacModel {
        font-size:14px;
        text-align: left;
        
    }
}

.bs-left {
    padding-right: 20px;
    margin: 22px 0px 10px 0px;
    font-size: 12px;
}

.step2 {
    padding: 0px;
    margin: 0px 13px;
    text-align: justify;
    font-size: 14px;
    height: 200px;
}

.step2Master {
    padding: 0px;
    margin: 0px 0px;
    border-width: 2px 2px 2px 5px;
    border-style: solid;
    border-color: #EEE;
    border-left-color: #0c70b4;
    -moz-border-right-colors: none;
    -moz-border-bottom-colors: none;
    -moz-border-left-colors: none;
    border-image: none;
    border-radius: 3px;
    text-align: justify;
    font-size: 14px;
    height: 100%;
}

.step2Div{
	background-color:#EEE;
	color: #0c70b4;
	margin:20px; 
	padding: 20px;
}
