<!DOCTYPE html>
<html>
	<head>
<!-- Vendor -->
	 <script src="/static/js/jquery.js"></script>
	 <script src="/static/js/bootstrap.js"></script>
	 <script src="/static/js/bootstrapValidator.js"></script>
	 
	 
	 
	<!-- Theme Custom -->
		
		<!-- Basic -->
		<meta charset="utf-8">
		<title>Sell Your Mac!  We buy Apple laptops, MacBook Pro, Macbook Air & More</title>		
		<meta name="keywords" content="Sell, Apple, laptops, MacBook Pro, Macbook Air, Macbook" />
		<meta name="description" content="Quick Ca$h for your Apple Laptop.  We pay top dollar when you sale your MacBook, MacBook Pro, or Macbook Air">
		<meta name="author" content="admin@bizwiggle.com | Bizwiggle">

		<!-- Mobile Metas -->
		<meta name="viewport" content="width=device-width, initial-scale=1.0">

		<!-- Web Fonts  -->
		<link href="http://fonts.googleapis.com/css?family=Open+Sans:300,400,600,700,800%7CShadows+Into+Light" rel="stylesheet" type="text/css">

		<!-- Vendor CSS -->
		<link rel="stylesheet" href="/static/css/bootstrap.css">
		<link rel="stylesheet" href="/static/css/bootstrapValidator.css">
		<link rel="stylesheet" href="/static/css/font-awesome.css">
		<link rel="stylesheet" href="/static/css/owl.carousel.min.css" media="screen">
		<link rel="stylesheet" href="/static/css/owl.theme.default.min.css" media="screen">
		<link rel="stylesheet" href="/static/css/magnific-popup.css" media="screen">

		<!-- Theme CSS -->
		<link rel="stylesheet" href="/static/css/theme.css">
		<link rel="stylesheet" href="/static/css/theme-elements.css">
		<link rel="stylesheet" href="/static/css/theme-blog.css">
		<link rel="stylesheet" href="/static/css/theme-shop.css">
		<link rel="stylesheet" href="/static/css/theme-animate.css">

		<!-- Current Page CSS -->
		<link rel="stylesheet" href="/static/css/settings.css" media="screen">
		<link rel="stylesheet" href="/static/css/component.css" media="screen">

		<!-- Skin CSS -->
		<link rel="stylesheet" href="/static/css/default.css">

		<!-- Theme Custom CSS -->
		<link rel="stylesheet" href="/static/css/custom.css">
		<link rel="stylesheet" href="/static/css/bootstrapValidator.min.css">
		

		<!-- Head Libs -->
		<script src="/static/js/modernizr.js"></script>

		<!--[if IE]>
			<link rel="stylesheet" href="/static/css/ie.css">
		<![endif]-->

		<!--[if lte IE 8]>
			<script src="/static/js/respond.js"></script>
			<script src="/static/js/excanvas.js"></script>
		<![endif]-->

	</head>
	<body>
	{% include 'navbar.html' %}

		<div class="body">
		


			<div role="main" class="main">
			 {% block content %}{% endblock %}
			</div>
      <!-- END .main -->
 
			<footer id="footer">
				<div class="container">
					<div class="row">
						<div class="footer-ribbon">
							<span>Get in Touch</span>
						</div>
						<div class="col-md-3">
							<div class="newsletter">
								<h4>Newsletter</h4>
								<p>Keep up on our always evolving product features and technology. Enter your e-mail and subscribe to our newsletter.</p>
			
								<div class="alert alert-success hidden" id="newsletterSuccess">
									<strong>Success!</strong> You've been added to our email list.
								</div>
			
								<div class="alert alert-danger hidden" id="newsletterError"></div>
			
			
			
								<form method="GET" id="newsletterForm" action="/1212newslatter/">
								
									<div class="input-group">
										<input class="form-control" placeholder="Email Address" name="newsletterEmail" id="newsletterEmail" type="text">
										<span class="input-group-btn">
											<button class="btn btn-default" type="submit">Go!</button>
										</span>
									</div>
								</form>
								
							</div>
						</div>
						<div class="col-md-3">
							<h4>Latest Tweets</h4>
							<div id="tweet" class="twitter" data-plugin-tweets data-plugin-options='{"username": "bizwiggle", "count": 2}'>
								<p>
								
								</p>
							</div>
						</div>
						<div class="col-md-4">
							<div class="contact-details">
								<h4>Contact Us</h4>
								<ul class="contact">
									<li><p><i class="fa fa-map-marker"></i> <strong>Address:</strong> 1234 Street Name, City Name, United States</p></li>
									<li><p><i class="fa fa-phone"></i> <strong>Phone: </strong>
									
									</p></li>
									<li><p><i class="fa fa-envelope"></i> <strong>Email:</strong> <a href="mailto:mail@example.com">mail@example.com</a></p></li>
								</ul>
							</div>
						</div>
						<div class="col-md-2">
							<h4>Follow Us</h4>
							<div class="social-icons">
								<ul class="social-icons">
									<li class="facebook"><a href="http://www.facebook.com/" target="_blank" data-placement="bottom" data-tooltip title="Facebook">Facebook</a></li>
									<li class="twitter"><a href="http://www.twitter.com/" target="_blank" data-placement="bottom" data-tooltip title="Twitter">Twitter</a></li>
									<li class="linkedin"><a href="http://www.linkedin.com/" target="_blank" data-placement="bottom" data-tooltip title="Linkedin">Linkedin</a></li>
								</ul>
							</div>
						</div>
					</div>
				</div>
				<div class="footer-copyright">
					<div class="container">
						<div class="row">
							<div class="col-md-1">
								<a href="index.html" class="logo">
									<img alt="Macwiggle Logo" class="img-responsive" src="/static/img/logo-footer.png">
								</a>
							</div>
							<div class="col-md-7">
								<p>© Copyright 2015 Macwiggle LLC. All Rights Reserved.</p>
							</div>
							<div class="col-md-4">
								<nav id="sub-menu">
									<ul>
										<li><a href='{% url "faqs" %}'>FAQ's</a></li>
										<li><a href='{% url "contact" %}'>Contact</a></li>
									</ul>
								</nav>
							</div>
						</div>
					</div>
				</div>
			</footer>
		</div>

		
		
		
		<script src="/static/js/jquery.appear.js"></script>
		<script src="/static/js/jquery.easing.js"></script>
		<script src="/static/js/jquery-cookie.js"></script>
		<script src="/static/js/common.js"></script>
		<script src="/static/js/jquery.validation.js"></script>
		<script src="/static/js/jquery.stellar.js"></script>
		<script src="/static/js/jquery.gmap.js"></script>
		<script src="/static/js/jquery.isotope.js"></script>
		<script src="/static/js/owl.carousel.js"></script>
		<script src="/static/js/jflickrfeed.js"></script>
		<script src="/static/js/jquery.magnific-popup.js"></script>
		<script src="/static/js/vide.js"></script>
	
		<!-- Theme Base, Components and Settings -->
		<script src="/static/js/theme.js"></script>
		
		<!-- Specific Page Vendor and Views -->
		<script src="/static/js/jquery.themepunch.tools.min.js"></script>
		<script src="/static/js/jquery.themepunch.revolution.min.js"></script>
		<script src="/static/js/jquery.flipshow.js"></script>
		<script src="/static/js/view.home.js"></script>
		
		
		
		<!-- Theme Initialization Files -->
		<script src="/static/js/theme.init.js"></script>
		
		

		<!-- Google Analytics: Change UA-XXXXX-X to be your site's ID. Go to http://www.google.com/analytics/ for more information.
		<script type="text/javascript">
		
			var _gaq = _gaq || [];
			_gaq.push(['_setAccount', 'UA-12345678-1']);
			_gaq.push(['_trackPageview']);
		
			(function() {
			var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
			ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
			var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
			})();
		
		</script>
		 -->

		 
		       
		{% block js %} {% endblock %}
<script src="http://maps.google.com/maps/api/js?sensor=false"></script>
      <script>

         /*
         Map Settings

            Find the Latitude and Longitude of your address:
               - http://universimmedia.pagesperso-orange.fr/geo/loc.htm
               - http://www.findlatitudeandlongitude.com/find-address-from-latitude-and-longitude/

         */

         // Map Markers
         var mapMarkers = [{
            address: "New York, NY 10017",
            html: "<strong>New York Office</strong><br>New York, NY 10017",
            icon: {
               image: "img/pin.png",
               iconsize: [26, 46],
               iconanchor: [12, 46]
            },
            popup: true
         }];

         // Map Initial Location
         var initLatitude = 40.75198;
         var initLongitude = -73.96978;

        // Map Extended Settings
         var mapSettings = {
            controls: {
               draggable: true,
               panControl: true,
               zoomControl: true,
               mapTypeControl: true,
               scaleControl: true,
               streetViewControl: true,
               overviewMapControl: true
            },
            scrollwheel: false,
            markers: mapMarkers,
            latitude: initLatitude,
            longitude: initLongitude,
            zoom: 16
         };

         var map = $("#googlemaps").gMap(mapSettings);

         // Map Center At
         var mapCenterAt = function(options, e) {
            e.preventDefault();
            $("#googlemaps").gMap("centerAt", options);
         }

      </script>

		<!-- Google Analytics: Change UA-XXXXX-X to be your site's ID. Go to http://www.google.com/analytics/ for more information.
		<script type="text/javascript">
		
			var _gaq = _gaq || [];
			_gaq.push(['_setAccount', 'UA-12345678-1']);
			_gaq.push(['_trackPageview']);
		
			(function() {
			var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
			ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
			var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
			})();
		
		</script>
		 -->
	</body>
</html>