{% extends 'base.html' %}   
    
    
{% block content %}



			<div role="main" class="main">
            <section class="page-top">
               <div class="container">
                  <div class="row">
                     <div class="col-md-12">
                        <ul class="breadcrumb">
                           <li><a href='{% url "home" %}'>Home</a></li>
                           <li class="active">Contact Us</li>
                        </ul>
                     </div>
                  </div>
                  <div class="row">
                     <div class="col-md-12">
                        <h1>Contact Us</h1>
                     </div>
                  </div>
               </div>
            </section>

            <!-- Google Maps - Go to the bottom of the page to change settings and map location. -->
            <div id="googlemaps" class="google-map"></div>

            <div class="container">

               <div class="row">
                  <div class="col-md-6">

                     <div class="alert alert-success hidden" id="contactSuccess">
                        <strong>Success!</strong> Your message has been sent to us.
                     </div>

                     <div class="alert alert-danger hidden" id="contactError">
                        <strong>Error!</strong> There was an error sending your message.
                     </div>

                     <h2 class="short"><strong>Contact</strong> Us</h2>
                     
                     <form id="contactForm" name="contactForm" class="form-horizontal" action="/contactForm/" method="POST">
                     {% csrf_token %}
                        <div class="row">
                           <div class="form-group">
                              <div class="col-md-6">
                                 <label>Your name *</label>
                                 <input type="text" value="" data-msg-required="Please enter your name." maxlength="100" class="form-control" name="name" id="name" required>
                              </div>
                              <div class="col-md-6">
                                 <label>Your email address *</label>
                                 <input type="email" value="" data-msg-required="Please enter your email address." data-msg-email="Please enter a valid email address." maxlength="100" class="form-control" name="email" id="email" required>
                              </div>
                           </div>
                        </div>
                        <div class="row">
                           <div class="form-group">
                              <div class="col-md-12">
                                 <label>Subject</label>
                                 <input type="text" value="" data-msg-required="Please enter the subject." maxlength="100" class="form-control" name="subject" id="subject" required>
                              </div>
                           </div>
                        </div>
                        <div class="row">
                           <div class="form-group">
                              <div class="col-md-12">
                                 <label>Message *</label>
                                 <textarea maxlength="5000" data-msg-required="Please enter your message." rows="10" class="form-control" name="msg" id="msg" required></textarea>
                              </div>
                           </div>
                        </div>
                        <div class="row">
                           <div class="col-md-12">
                              <input type="submit" value="Send Message" class="btn btn-primary btn-lg" data-loading-text="Loading...">
                           </div>
                        </div>
                     </form>
                  </div>
                  <div class="col-md-6">

                     <h4 class="push-top">Get in <strong>touch</strong></h4>
                     <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Curabitur eget leo at velit imperdiet varius. In eu ipsum vitae velit congue iaculis vitae at risus.</p>

                     <hr />

                     <h4>The <strong>Office</strong></h4>
                     <ul class="list-unstyled">
                        <li><i class="fa fa-map-marker"></i> <strong>Address:</strong> 1234 Street Name, City Name, United States</li>
                        <li><i class="fa fa-phone"></i> <strong>Phone:</strong> (123) 456-7890</li>
                        <li><i class="fa fa-envelope"></i> <strong>Email:</strong> <a href="mailto:mail@example.com">mail@example.com</a></li>
                     </ul>

                     <hr />

                     <h4>Business <strong>Hours</strong></h4>
                     <ul class="list-unstyled">
                        <li><i class="fa fa-time"></i> Monday - Friday 9am to 5pm</li>
                        <li><i class="fa fa-time"></i> Saturday - 9am to 2pm</li>
                        <li><i class="fa fa-time"></i> Sunday - Closed</li>
                     </ul>

                  </div>

               </div>

            </div>

			</div>
      <!-- END .main -->
<script type="text/javascript">
$(document).ready(function() {
    $('#contactForm')
        .bootstrapValidator({
            message: 'This value is not valid',
            feedbackIcons: {
                valid: 'glyphicon glyphicon-ok',
                invalid: 'glyphicon glyphicon-remove',
                validating: 'glyphicon glyphicon-refresh'
            },
            fields: {
                name: {
                    message: 'The username is not valid',
                    validators: {
                        notEmpty: {
                            message: 'The fullname is required and can\'t be empty'
                        },
                        stringLength: {
                            min: 6,
                            max: 30,
                            message: 'The fullname must be more than 6 and less than 30 characters long'
                        },
                        /*remote: {
                            url: 'remote.php',
                            message: 'The username is not available'
                        },*/
                        regexp: {
                            regexp: /^[a-zA-Z_\. ]+$/,
                            message: 'The fullname can only consist of alphabetical, number, dot and underscore'
                        }
                    }
                },
                email: {
                    validators: {
                        notEmpty: {
                            message: 'The email address is required and can\'t be empty'
                        },
                        emailAddress: {
                            message: 'The input is not a valid email address'
                        }
                    }
                },
              
                subject: {
                    message: 'The subject is not valid',
                    validators: {
                        notEmpty: {
                            message: 'The subject is required and can\'t be empty'
                        },
                        stringLength: {
                            min: 4,
                            max: 50,
                            message: 'The subject must be more than 6 and less than 30 characters long'
                        },
                        /*remote: {
                            url: 'remote.php',
                            message: 'The username is not available'
                        },*/
                    }
                },
                
                message: {
                    validators: {
                    	notEmpty: {
                            message: 'The message is required and can\'t be empty'
                        },
                        stringLength: {
                            min: 10,
                            max: 100,
                            message: 'The message must be more than 10 and less than 100 characters long'
                        },
                    	
                    }
                },
                
          
                
               
            }
        })
        
});
</script>			
{% endblock %}


{% block js %}{% endblock %}