{% extends 'base.html' %}
{% block content %}
       
        			<div role="main" class="main">
				<section class="page-top">
               <div class="container">
                  <div class="row">
                     <div class="col-md-12">
                        <ul class="breadcrumb">
                           <li><a href='{% url "home"%}'>Home</a></li>
                           <li class="active">Home</li>
                        </ul>
                     </div>
                  </div>
                  <div class="row">
                     <div class="col-md-12">
                        <h1>HOME
                        </h1>
                     </div>
                  </div>
               </div>
            </section>
        
        	<div class="slider-container">
          <div class="slider" id="revolutionSlider" data-plugin-revolution-slider data-plugin-options='{"startheight": 500}'>
            <ul>
              <li data-transition="fade" data-slotamount="13" data-masterspeed="300" >
     
                <img src="/static/img/slides/slide-bg.jpg" data-bgfit="cover" data-bgposition="left top" data-bgrepeat="no-repeat">
     
                <div class="tp-caption sft stb visible-lg"
                   data-x="177"
                   data-y="230"
                   data-speed="300"
                   data-start="1000"
                   data-easing="easeOutExpo"><img src="/static/img/slides/slide-title-border.png" alt=""></div>
     
                <div class="tp-caption top-label lfl stl"
                   data-x="287"
                   data-y="180"
                   data-speed="300"
                   data-start="500"
                   data-easing="easeOutExpo">Want More</div>
     
                <div class="tp-caption sft stb visible-lg"
                   data-x="482"
                   data-y="230"
                   data-speed="300"
                   data-start="1000"
                   data-easing="easeOutExpo"><img src="/static/img/slides/slide-title-border.png" alt=""></div>
     
                <div class="tp-caption main-label sft stb"
                   data-x="235"
                   data-y="210"
                   data-speed="300"
                   data-start="1500"
                   data-easing="easeOutExpo">Money</div>

								<div class="tp-caption bottom-label sft stb"
                   data-x="285"
                   data-y="290"
                   data-speed="500"
                   data-start="2000"
                   data-easing="easeOutExpo">for Your Mac?</div>

                <div class="tp-caption randomrotate"
                   data-x="905"
                   data-y="248"
                   data-speed="500"
                   data-start="2500"
                   data-easing="easeOutBack"><img src="/static/img/slides/slide-concept-2-1.png" alt=""></div>

                <div class="tp-caption sfb"
                   data-x="955"
                   data-y="200"
                   data-speed="400"
                   data-start="3000"
                   data-easing="easeOutBack"><img src="/static/img/slides/slide-concept-2-2.png" alt=""></div>

                <div class="tp-caption sfb"
                   data-x="925"
                   data-y="170"
                   data-speed="700"
                   data-start="3150"
                   data-easing="easeOutBack"><img src="/static/img/slides/slide-concept-2-3.png" alt=""></div>

                <div class="tp-caption sfb"
                   data-x="875"
                   data-y="130"
                   data-speed="1000"
                   data-start="3250"
                   data-easing="easeOutBack"><img src="/static/img/slides/slide-concept-2-4.png" alt=""></div>

                <div class="tp-caption sfb"
                   data-x="605"
                   data-y="80"
                   data-speed="600"
                   data-start="3450"
                   data-easing="easeOutExpo"><img src="/static/img/slides/slide-concept-2-5.png" alt=""></div>

                <div class="tp-caption blackboard-text lfb "
                   data-x="635"
                   data-y="300"
                   data-speed="500"
                   data-start="3450"
                   data-easing="easeOutExpo" style="font-size: 37px;">Hey!</div>

                <div class="tp-caption blackboard-text lfb "
                   data-x="660"
                   data-y="350"
                   data-speed="500"
                   data-start="3650"
                   data-easing="easeOutExpo" style="font-size: 47px;">I Like</div>

                <div class="tp-caption blackboard-text lfb "
                   data-x="685"
                   data-y="400"
                   data-speed="500"
                   data-start="3850"
                   data-easing="easeOutExpo" style="font-size: 32px;">Money :)</div>
              </li>
              <li data-transition="fade" data-slotamount="5" data-masterspeed="1000" >
								<img src="/static/img/slides/slide-bg.jpg" data-bgfit="cover" data-bgposition="left top" data-bgrepeat="no-repeat">

                  <div class="tp-caption sft stb"
                     data-x="155"
                     data-y="100"
                     data-speed="600"
                     data-start="100"
                     data-easing="easeOutExpo"><img src="/static/img/slides/slide-concept.png" alt=""></div>

                  <div class="tp-caption blackboard-text sft stb"
                     data-x="280"
                     data-y="180"
                     data-speed="900"
                     data-start="1000"
                     data-easing="easeOutExpo" style="font-size: 30px;">Turn Your Mac</div>

                  <div class="tp-caption blackboard-text sft stb"
                     data-x="240"
                     data-y="225"
                     data-speed="900"
                     data-start="1200"
                     data-easing="easeOutExpo" style="font-size: 40px;">Into Cash... Fast!</div>

                  <div class="tp-caption main-label sft stb"
                     data-x="645"
                     data-y="155"
                     data-speed="300"
                     data-start="900"
                     data-easing="easeOutExpo">Quick Payment!</div>

                  <div class="tp-caption bottom-label sft stb"
                     data-x="685"
                     data-y="230"
                     data-speed="500"
                     data-start="2000"
                     data-easing="easeOutExpo">and Secure Too.</div>

              </li>
            </ul>
          </div>
        </div>

        <div class="home-intro" id="home-intro">
          <div class="container">

            <div class="row">
              <div class="col-md-8">
                <p>
                  The Quick &amp; Secure Way to be Paid Top <em>Dollar</em> for Your <em>Mac</em>
                </p>
              </div>
              <div class="col-md-4">
                <div class="get-started">
                  <a href='{% url "macs" %}' class="btn btn-default btn-lg btn-primary">Get Your Quote!</a>
                  <!-- div class="learn-more">or <a href="index.html">learn more.</a></div -->
                </div>
              </div>
            </div>

          </div>
        </div>

        <div class="container">
          <div class="row center">
            <div class="col-md-12">
              <h1 class="short word-rotator-title">
              	How
                <strong>
									Macwiggle
                </strong>
								Works.
              </h1>
            </div>
          </div>

          <div class="row center">
            <div class="pad45"></div>
						<div class="col-md-4">
          		<h2>Step 1</h2>
							<img class="img-responsive center-pic" src="/static/img/clipart/quote.png">
							<div class="pad20"></div>
							<h3>Get a Quote</h3>
          		<p>Contact our awesome support team at (800) 747-1023 to tell us about your device and
          		 receive an immediate offer for either a trade-in or cash purchase price. </p>
        		</div>
						
						<div class="col-md-4">
          		<h2>Step 2</h2>
							<img class="img-responsive center-pic" src="/static/img/clipart/box.png">
							<div class="pad20"></div>
							<h3>Ship for Free</h3>
          		<p>We then email a pre-paid shipping label for sending your device to us. </p>
        		</div>

						<div class="col-md-4">
          		<h2>Step 3</h2>
							<img class="img-responsive center-pic" src="/static/img/clipart/piggy.png">
							<div class="pad20"></div>
							<h3>Get Paid</h3>
          		<p>Once we receive your device, we review it to verify it is as described and then we pay you.</p>
        		</div>

					</div>
        </div>

        <div class="container">

          <hr class="tall" />

          <div class="row center">
            <div class="col-md-12">
              <h2 class="short word-rotator-title">
                We're not the only ones
                <strong>
                  <span class="word-rotate" data-plugin-options='{"delay": 3500, "animDelay": 400}'>
                    <span class="word-rotate-items">
                      <span>excited</span>
                      <span>happy</span>
                    </span>
                  </span>
                </strong>
                about Macwiggle...
              </h2>
              <h4 class="lead tall">We have bought 1,540 mac laptops.  We have a 100% Positive Rating in on our Ebay Store</h4>
            </div>
          </div>

        </div>

        <div class="map-section">
          <section class="featured footer map">
            <div class="container">
              <div class="row">
                <!--div class="col-md-6">
                  <div class="recent-posts push-bottom">
                    <h2>Latest <strong>Blog</strong> Posts</h2>
                    <div class="row">
                      <div class="owl-carousel" data-plugin-options='{"items": 1}'>
                        <div>
                          <div class="col-md-6">
                            <article>
                              <div class="date">
                                <span class="day">15</span>
                                <span class="month">Jan</span>
                              </div>
                              <h4><a href="blog-post.html">Lorem ipsum dolor sit amet, consectetur adipiscing elit.</a></h4>
                              <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Donec hendrerit vehicula est, in consequat libero. <a href="/" class="read-more">read more <i class="fa fa-angle-right"></i></a></p>
                            </article>
                          </div>
                          <div class="col-md-6">
                            <article>
                              <div class="date">
                                <span class="day">15</span>
                                <span class="month">Jan</span>
                              </div>
                              <h4><a href="blog-post.html">Lorem ipsum dolor</a></h4>
                              <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Donec hendrerit vehicula est, in consequat. <a href="/" class="read-more">read more <i class="fa fa-angle-right"></i></a></p>
                            </article>
                          </div>
                        </div>
                        <div>
                          <div class="col-md-6">
                            <article>
                              <div class="date">
                                <span class="day">12</span>
                                <span class="month">Jan</span>
                              </div>
                              <h4><a href="blog-post.html">Lorem ipsum dolor sit amet, consectetur adipiscing elit.</a></h4>
                              <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Donec hendrerit vehicula est, in consequat libero. <a href="/" class="read-more">read more <i class="fa fa-angle-right"></i></a></p>
                            </article>
                          </div>
                          <div class="col-md-6">
                            <article>
                              <div class="date">
                                <span class="day">11</span>
                                <span class="month">Jan</span>
                              </div>
                            <h4><a href="blog-post.html">Lorem ipsum dolor</a></h4>
                              <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. <a href="/" class="read-more">read more <i class="fa fa-angle-right"></i></a></p>
                            </article>
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>
                </div -->
                <div class="col-md-6">
                  <h2><strong>Look at Reviews</strong> on Our Ebay Store</h2>
                  <div class="row">
                    <div class="col-md-12">
                      <a href="http://www.ebay.com" target="_blank">
                        <img class="img-responsive" src="/static/img/logos/ebay_logo.png" />
                        <h3 class="text-center">Click to View</h3>
                      </a>
                    </div>
                  </div>
                </div>
                <div class="col-md-6">
                  <h2><strong>What</strong> Client’s Say</h2>
                  
                          
                          
                 {% if all_review %}
                    <div class="row">
                    <div class="owl-carousel push-bottom" data-plugin-options='{"items": 1}'>
			     {% for enquete in all_review %}
					    
                   <div>
                               <div class="col-md-12">
					           <blockquote class="testimonial">
					           <p>{{ enquete.review }}</p></blockquote>
					           <div class="testimonial-arrow-down"></div>
					           
	
                               <div class="testimonial-author">
                               <div class="img-thumbnail img-thumbnail-small">
							<img src="img/clients/client-1.jpg" alt="">
							</div>
							
                               <p><strong>{{enquete.ReviewName}}</strong><span>{{enquete.ReviewProf}}</span></p>
                               </div>
                               
                               </div>
                  </div>
			     {% endfor %}
					 </div>
                     </div>
   				  {% else %}
				  <p>Doens'n have reviews.</p>
				  {% endif %}
                          
   
                </div>
              </div>
            </div>
          </section>
        </div>
        {% endblock %}