
<header id="header">
				<div class="container">
					<div class="logo">
						<a href='{% url "home" %}'>
							<img alt="Macwiggle Logo" width="245" height="90" data-sticky-width="82" data-sticky-height="40" src="/static/img/logo.png">
						</a>
					</div>
					<nav>
						<ul class="nav nav-pills nav-top">
							<li class="phone">
								<span><i class="fa fa-phone"></i>{{ PHONE }}</span>
							</li>
						</ul>
					</nav>
					<button class="btn btn-responsive-nav btn-inverse" data-toggle="collapse" data-target=".nav-main-collapse">
						<i class="fa fa-bars"></i>
					</button>
				</div>
				<div class="navbar-collapse nav-main-collapse collapse">
					<div class="container">
						<ul class="social-icons">
							<li class="facebook"><a href="http://www.facebook.com/" target="_blank" title="Facebook">Facebook</a></li>
							<li class="twitter"><a href="http://www.twitter.com/" target="_blank" title="Twitter">Twitter</a></li>
							<li class="linkedin"><a href="http://www.linkedin.com/" target="_blank" title="Linkedin">Linkedin</a></li>
						</ul>
						<nav class="nav-main mega-menu">
							<ul class="nav nav-pills nav-main" id="mainMenu">
								<li class="active"><a href='{% url "home"%}'>Home</a></li>
								<li><a href='{% url "faqs"%}'>FAQ</a></li>
								<li><a href='{% url "contact"%}'>Contact</a></li>
								<li><a href='{% url "macs"%}'>Quote</a></li>
							</ul>
						</nav>
					</div>
				</div>
			</header>