<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8">
        <title></title>
        <style>
            body {
 
                font-family: "Times New Roman", Times, serif;
                font-size: 12px;
            }
        </style>
    </head>
    <body>
 
        <h1>Widgets </h1>
 
        <form method="post" action="">
            <fieldset>
                <legend>
                    Cadastro:
                </legend>
                {% csrf_token %}
                <table>
                    <td> {{ form.as_table }} </td>
                </table>
                <hr />
                <input type="submit" />
            </fieldset>
        </form>
 
    </body>
</html>